       /* Custom styles */
       body {
        margin: 0;
        padding: 0;
    }
    .container {
        position: relative;
        z-index: 1;
        width: 500px;
        margin-inline: auto;
        margin-block: 6rem;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.5); /* Added transparency */
        border-radius: 10px;
        box-shadow: 0 0 10px #6b4336;
    }
    .container h1 {
        text-align: center;
        margin-bottom: 4px;
        color: #854d3c;
    }
    .form-group label {
        font-weight: bold;
        font-size: 14px;
    }
    .btn-primary {
        background-color: #007bff;
        border: none;
    }
    .btn-primary:hover {
        background-color: #0056b3;
    }

  

    @media (max-width: 565px) {
        .smalldevice {
            width: 100% !important;
        }

        .container h1 {
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .container {
            width: 100% !important;
            position: absolute;

        }

    .section{
        width: 100%;
    }
    }